<!-- section footer start -->
<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <ul>
                <li class="footer-logo"><img class="imglogo" src="/images/logo.png"></li>
                <li class="footer-logo"><img style="padding-left: 120px;" src="/images/map-icon.png"><span class="map_text">Bhopal, India</span></li>
                <li class="footer-logo"><img src="/images/call-icon.png"><span class="map_text">+91 98775 11111</span></li>
                <li class="footer-logo"><img src="/images/email-icon.png"><span class="map_text">help@pawsitive.com</span></li>
            </ul>
        </div> 
       
            <div class="copyright">2021 All Rights Reserved. PAWSITIVE +</div>
        </div>
    </div>
</div>
<!-- section footer end -->
<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/counterup/jquery.waypoints.min.js"></script>
<script src="lib/counterup/jquery.counterup.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>
<script src="lib/typed/typed.min.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/plugin.js"></script>
  <!-- sidebar -->
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/custom.js"></script>
  <!-- javascript --> 
  <script src="js/owl.carousel.js"></script>
  <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script>
  $(document).ready(function(){
  $(".fancybox").fancybox({
     openEffect: "none",
     closeEffect: "none"
     });
     
     $(".zoom").hover(function(){
     
     $(this).addClass('transition');
     }, function(){
     
     $(this).removeClass('transition');
     });
     });
     </script> 


<script>
function openNav() {
document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
document.getElementById("myNav").style.width = "0%";
}
</script>
 
</body>
</html>