<%- include("partials/header-feed"); -%> 
<div class="feed">
<section id="projects" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              FEED
            </h3>
          
            <div class="line-mf"></div>
            <div style="margin-top: 40px;">
              <a style="margin: 10px 10px; background-color: orange; color: black; border: none;" class="btn btn-dark btn-lg" href="login">Add Post</a>
             
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="big-feed.html"><img src="img/img.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Adoption</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">TBA</a></h3>
              <p class="card-description">
               sfsf
              </p>

            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
              
                </a>
              </div>
             </div>
          </div>
        </div>
                <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="big-feed.html"><img src="img/img.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Adoption</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">TBA</a></h3>
              <p class="card-description">
                fsf
               
              </p>

            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">

                </a>
              </div>
             </div>
          </div>
        </div>
          <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="big-feed.html"><img src="img/img.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Adoption</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">TBA</a></h3>
              <p class="card-description">
               sfaf
              </p>

            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                </a>
              </div>
                </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="blogs/2020-03/CyberSecurity.html"><img src="img/img.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Adoption</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">TBA</a></h3>
              <p class="card-description">
               TBA
              </p>

            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> Date
              </div>
             </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="#"><img src="img/img.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Adoption</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">Adoption</a></h3>
              <p class="card-description">
TBA
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <span class="author"></span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span> Date
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="#"><img src="img/img.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Adoption</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="#">Adoption</a></h3>
              <p class="card-description">
TBA
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
             <a href="#">
                  <span class="author"></span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-ios-clock-outline"></span>Date
              </div>
            </div>
          </div>
        </div>
     
      
          </div>
        </div>
      </div>
    </div>
  </section>
 
  
  </section>
</div>

<%- include("partials/footer"); -%>
