<%- include("partials/header"); -%>
<div class="banner_main">
    <div class="container">
        <div class="ram">
            <div class="row">
                <div class="col-sm-12 banner-content">
                    <h1 style="margin-left: -5px;"class="taital" >PAWSITIVE+</h1>
                    <p class="consectetur_text" style="margin-left: -4px; margin-top: -2px;" >He who feeds a hungry animal feeds his own soul
                    </p>
                    <div class="banner_bt">
                        <input style="background-color: white; border: none; border-radius: 10px; padding:	15px 32px; font-size: 26px; cursor:pointer;" type="button" onclick="location.href='#about';" value="Read More" />
                    
                    </div>
                
                </div>
            </div>
        </div>
        <div class="box">
            <h1 style="background-color: #e5e1de; color: black; margin-top: 147px;" class="numbar_text">01</h1>
        </div>
    </div>
</div>
</div>
<!-- section banner end -->
<!-- section about start -->
<div class="about_section" id="about">
<div class="about_text">
    <div class="container">
        <h1 class="about_taital_1"><strong><span style="color: #f7941d;">About</span> PAWSITIVE +</strong></h1>
        <p class="magna_text"> Our web application PAWSITIVE + is for the welfare of dogs and stray animals, With this people can provide them basic amenities for living like food, water or any medication required to them and can also adopt them as per their will.
        </p>

        <div class="about">
            <h1 class="numbar_text">02</h1>
        </div>
    </div>
</div>
</div>
<!-- section about end -->
<!-- section gallery start -->
<div class="gallery_main layout_padding">
<div class="container">
    </div>
</div>
</div>
<div class="gallery_section_2">
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="pet_taital"><b>Pet Adoption - Be a part of something beautiful</b></h1>
            
            <p class="pet_content">Most shelter pets that are abandoned have been dumped there for no fault of theirs.</p>
            <p class="pet_content">Abandoned pets and stray dogs do not ask for much. All they need is another chance.</p>
            <p class="pet_content">Abused or neglected on Indian streets. These dogs are known to have a calm and gentle demeanor around them. They bond strongly with their people and make an excellent family pet that is very loving, loyal and intelligent.</p>    			
            <div class="banner_bt">
                <input style="margin-top: 40px; background-color: #353434; color: white; border: none; border-radius: 10px; padding:	15px 32px; font-size: 16px; cursor:pointer;" type="button" onclick="location.href='#';" value="Back to top" />
            
            </div>
            <div class="box_3">
            <h1 style="background-color: #f5f5f5; color: black;" class="numbar">03</h1>
        </div>
        </div>
        <div class="col-sm-4">
            <div class="dog_img"><img src="images/dog-img.png" style="max-width: 100%;"></div>
        </div>
    </div>
</div>
</div>
<!-- section gallery end -->
<!-- section get in touch start -->
<div class="touch_section" id="contact">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="get_taital"><strong><span style="color: black;">Contact</span>  Us</strong></h1>
        </div>
    </div>
    <div class="email_box">
            <div class="input_main">
               <div class="container">
                  <form action="/action_page.php">
                    <div class="form-group">
                      <input type="text" class="email-bt" placeholder="Name" name="Name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="email-bt" placeholder="Your Phone Numbar" name="Name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="email-bt" placeholder="Your Email" name="Email">
                    </div>
                    
                    <div class="form-group">
                        <textarea class="massage-bt" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                    </div>
                  </form>   
               </div> 
               <div class="send_btn">
                <button type="button" class="main_bt"><a style="color: white;" href="#">Send</a></button>
               </div>                   
            </div>
    </div>
    <section id="developers">
        <div class="developer">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-3">Our Team</h1>
            <p class="lead">Information about developers and other team members</p>
          </div>
      
          <div class="container">
            <div class="card-deck mb-3 text-center">
               <!-- Card 1 -->
               <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="img-container">
                            <img class="dev-img" src="https://avatars.githubusercontent.com/u/71493667?v=4" alt="">
                         </div>
                      <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                    </div>
                    <div class="dev-links">
                        <a href="https://github.com/sparsh229"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sparshg22/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
              </div>
               <!-- Card 1 end -->
               <!-- Card 1 -->
               <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="img-container">
                            <img class="dev-img" src="https://avatars.githubusercontent.com/u/58393468?v=4" alt="">
                         </div>
                      <h3 class="card-title pricing-card-title">ABHAYGUPTA</h3>
                    </div>
                    <div class="dev-links">
                        <a href="https://github.com/Abhay-G"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/abhay-gupta-253a45198/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
              </div>
               <!-- Card 1 end -->
               <!-- Card 1 -->
               <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="img-container">
                            <img class="dev-img" src="/images/img.jpg" alt="">
                         </div>
                      <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                    </div>
                    <div class="dev-links">
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
              </div>
               <!-- Card 1 end -->
               <!-- Card 1 -->
               <div class="card mb-4 box-shadow">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal"></h4>
                </div>
                <div class="card-body">
                    <div class="card-content">
                        <div class="img-container">
                            <img class="dev-img" src="/images/img.jpg" alt="">
                         </div>
                      <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                    </div>
                    <div class="dev-links">
                        <a href="#"><i class="fab fa-github"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
              </div>
               <!-- Card 1 end -->
            </div>
            <div class="card-deck mb-3 text-center">
                <!-- Card 1 -->
                <div class="card mb-4 box-shadow">
                 <div class="card-header">
                   <h4 class="my-0 font-weight-normal"></h4>
                 </div>
                 <div class="card-body">
                     <div class="card-content">
                         <div class="img-container">
                             <img class="dev-img" src="/images/img.jpg" alt="">
                          </div>
                       <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                     </div>
                     <div class="dev-links">
                         <a href="#"><i class="fab fa-github"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                     </div>
                 </div>
               </div>
                <!-- Card 1 end -->
                <!-- Card 1 -->
                <div class="card mb-4 box-shadow">
                 <div class="card-header">
                   <h4 class="my-0 font-weight-normal"></h4>
                 </div>
                 <div class="card-body">
                     <div class="card-content">
                         <div class="img-container">
                             <img class="dev-img" src="/images/img.jpg" alt="">
                          </div>
                       <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                     </div>
                     <div class="dev-links">
                         <a href="#"><i class="fab fa-github"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                     </div>
                 </div>
               </div>
                <!-- Card 1 end -->
                <!-- Card 1 -->
                <div class="card mb-4 box-shadow">
                 <div class="card-header">
                   <h4 class="my-0 font-weight-normal"></h4>
                 </div>
                 <div class="card-body">
                     <div class="card-content">
                         <div class="img-container">
                             <img class="dev-img" src="/images/img.jpg" alt="">
                          </div>
                       <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                     </div>
                     <div class="dev-links">
                         <a href="#"><i class="fab fa-github"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                     </div>
                 </div>
               </div>
                <!-- Card 1 end -->
                <!-- Card 1 -->
                <div class="card mb-4 box-shadow">
                 <div class="card-header">
                   <h4 class="my-0 font-weight-normal"></h4>
                 </div>
                 <div class="card-body">
                     <div class="card-content">
                         <div class="img-container">
                             <img class="dev-img" src="/images/img.jpg" alt="">
                          </div>
                       <h3 class="card-title pricing-card-title">SPARSH GUPTA</h3>
                     </div>
                     <div class="dev-links">
                         <a href="#"><i class="fab fa-github"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                     </div>
                 </div>
               </div>
                <!-- Card 1 end -->
             </div>
             
             <div class="card-deck mb-3 text-center last-div">
                <!-- Card 1 dhskjfh-->
                <div class=" mb-4 box-shadow last-cards">
                 <div class="card-header">
                   <h4 class="my-0 font-weight-normal"></h4>
                 </div>
                 <div class="card-body">
                     <div class="card-content">
                         <div class="img-container">
                             <img class="dev-img" src="./images/img.jpg" alt="">
                          </div>
                       <h3 class="card-title pricing-card-title">ABHAY GUPTA</h3>
                     </div>
                     <div class="dev-links">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                     </div>
                 </div>
               </div>
               <!-- Card 1 end -->
               <!-- Card 1 -->
               <div class="mb-4 box-shadow last-cards">
                 <div class="card-header">
                   <h4 class="my-0 font-weight-normal"></h4>
                 </div>
                 <div class="card-body">
                     <div class="card-content">
                         <div class="img-container">
                             <img class="dev-img" src="./images/img.jpg" alt="">
                          </div>
                       <h3 class="card-title pricing-card-title">ABHAY GUPTA</h3>
                     </div>
                     <div class="dev-links">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                     </div>
                 </div>
               </div>
               <!-- Card 1 end -->
             </div>
    </section>
</div>
</div>

<!-- section get in touch end -->
<%- include("partials/footer"); -%>