<%- include("partials/header-feed") -%>
<section class="blog-wrapper sect-pt4" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="post-box">
            <div class="post-thumb">
              <img src="img/img.png" class="img-fluid" alt="">
            </div>
            <div class="post-meta">
              <h1 class="article-title">Kutta Name</h1>
              <ul>
                <li>
                  <span class="ion-ios-person"></span>
                  <a href="#">Kutta mei interest rakhne wala</a>
                </li>
                <li>
                  <span class="ion-pricetag"></span>
                  <a href="#">Adoption karna hai ya kya karna hai</a>
                </li>
              </ul>
            </div>
          <div class="entry-content">
            <img style="margin-bottom: 30px; margin-top: 20px;" src="images/img.jpg" class="img-fluid" alt="">
            
            <p>hi, I am kutta, Please adopt me.</p>
           
          </div> 

        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog-Single End /-->
<form style="width: 700px; margin: 10px auto;">

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <button style="color: white;" class="btn btn-dark">Submit</button>
  </form>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
             
              <div class="credits">
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>

<%- include("partials/footer") -%>
